<a href="https://colab.research.google.com/github/ahmedfaiz1406/Data-science-assignments/blob/main/Decision_tree_classisfication.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [7]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [10]:
downloaded = drive.CreateFile({'id':'13BszMov4NE6lmQVFQDNvLDnQjzXIKfM7'}) # replace the id with id of file you want to access
downloaded.GetContentFile('iris.csv')

In [15]:
import pandas as pd
df = pd.read_csv('iris.csv', index_col= 'Id')

In [16]:
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
Id
1             5.1           3.5            1.4           0.2        0
2             4.9           3.0            1.4           0.2        0
3             4.7           3.2            1.3           0.2        0
4             4.6           3.1            1.5           0.2        0
5             5.0           3.6            1.4           0.2        0

In [17]:
X = df.iloc[:, :-1]
y = df.Species

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 17)

In [19]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [20]:
from sklearn.metrics import accuracy_score, classification_report

In [21]:
y_predict = model.predict(X_test)

In [22]:
accuracy_score(y_test, y_predict)

0.9666666666666667

In [23]:
pd.crosstab(y_test, y_predict)

col_0    0   1   2
Species
0        7   0   0
1        0  11   0
2        0   1  11

In [24]:
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         7
           1       0.92      1.00      0.96        11
           2       1.00      0.92      0.96        12

    accuracy                           0.97        30
   macro avg       0.97      0.97      0.97        30
weighted avg       0.97      0.97      0.97        30